<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tu profesor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Tu profesor:</p>
      <p>Cursos a los que imparte clase:</p>
      <p>Asignaturas que imparte:</p>
    </ion-card-content>
  </ion-card>

  <!-- Selector de la fecha -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Necesitas una reunión?</ion-card-title>
      <ion-card-subtitle>
        <p>Selecciona una fecha para solicitar una reunión con el profesor.</p>
        <p>Esto mandará un correo al mismo y este, confirmará la cita,</p>
        <p>
          cuando esto ocurra, aparecerá un recuadro más abajo confirmando la
          reunión.
        </p>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Fecha</ion-label>
          <ion-datetime
            displayFormat="DD/MM/YYYY"
            pikerFormat="YYYY MM DD"
            [(ngModel)]="fecha"
            cancelText="Cancelar"
            doneText="OK"
            min="{{ minFecha }}"
            max="{{ maxFecha }}"
          >
          </ion-datetime>
        </ion-item>
        <ion-item>
          <p text-center>Fecha seleccionada: {{ fecha.substr(0, 10) }}</p>
        </ion-item>
        <ion-item>
          <ion-label> Motivo de la reunión </ion-label>
          <ion-select
            [interfaceOptions]="customPopoverOptions"
            interface="action-sheet"
            placeholder="Selecciona un motivo"
          >
            <ion-select-option *ngFor="let moti of motivoReunion">
              {{ moti.title }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-button expand="block" shape="round" *ngIf="!confirm" (click)="validateMessage()"> Solicitar reunión </ion-button>

    </ion-card-content>
  </ion-card>

  <!-- Card con la confirmacion del correo -->
  <ion-card text-center *ngIf="confirm">
    <ion-card-header>
      <ion-card-title>Confirmación de la reunión</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img
        style="width: 50px; margin: 0 auto 10px auto; "
        src="/assets/confirm.svg"
      ></ion-img>
      <p text-center>Su reunión ha sido confirmada</p>
    </ion-card-content>
  </ion-card>

  <!-- Boton para enviar mensajes -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="mail"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="accessMessage()"
        ><ion-icon name="paper-plane"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
