<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Añadir alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
    <li> Introduce los datos de tu alumno.</li>
    <li> Recuerda los datos de Usuario y Contraseña. </li>
  </div>

  <ion-list>

    <ion-item>
      <!-- <ion-icon name="arrow-dropright"></ion-icon> -->
      <ion-label> Nombre: </ion-label>
      <ion-input placeholder="Introduce el nombre de tu alumno" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-icon name="arrow-dropright"></ion-icon> -->
      <ion-label> Primer apellido: </ion-label>
      <ion-input placeholder="Introduce el primer apellido" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-icon name="arrow-dropright"></ion-icon> -->
      <ion-label> Segundo apellido: </ion-label>
      <ion-input placeholder="Introduce el segundo apellido" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-icon name="book"></ion-icon> -->
      <ion-label> Clase: </ion-label>
      <ion-input placeholder="Introduce la clase a la que pertenece" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-icon name="contact"></ion-icon> -->
      <ion-label> Usuario: </ion-label>
      <ion-input placeholder="Introduce un usuario para tu alumno" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <!-- <ion-icon name="key"></ion-icon> -->
      <ion-label> Contraseña: </ion-label>
      <ion-input placeholder="Introduce una contraseña" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-icon name="key"></ion-icon> -->
      <ion-label> Confirmar contraseña: </ion-label>
      <ion-input placeholder="Confirma la contraseña" type="password"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <ion-button expand="block" shape="round" type="submit"> Añadir alumno </ion-button>
  </div>

</ion-content>