<ion-list>

  <ion-item-sliding #slidingItem *ngFor="let lista of tareasService.listas | filtroCompletado:terminado ">
  
    <ion-item-options side="left">
      <button (click)="editarLista(lista, slidingItem)" ion-button icon-only color="info">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item-options>
  
    <button ion-item (click)="listaSeleccionada(lista)">
      {{ lista.titulo }}
      <ion-note item-end>
        {{ lista.items.length }} items
      </ion-note>
    </button>
  
    <ion-item-options side="right">
      <button (click)="borrarLista(lista)" ion-button icon-only color="danger">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item-options>
  
  </ion-item-sliding>
  
</ion-list>

<!-- Card que sale con mensaje de elemento vacio en el caso de que no tenga nada el array -->
<ion-card *ngIf="tareasService.listas.length === 0">
  <ion-card-content style="text-align: center;">
    <ion-icon name="sad"></ion-icon>
    <p> Esta lista está vacía.</p>
    <p> Puedes añadir una tarea nueva pulsando (+) </p>
  </ion-card-content>
</ion-card>
  