<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="perfil"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Edición de datos personales
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <div padding>
      <li> Cambia los campos que quieras.</li>
      <li> Los datos de Usuario y Contraseña no se pueden editar. </li>
    </div>

    <div padding>
      <p>Alumno a editar: {{ nuevoAlumno.nombre}} </p> 
    </div>
  
    <ion-list>
  
      <ion-item>
        <!-- <ion-icon name="arrow-dropright"></ion-icon> -->
        <ion-label> Nombre: </ion-label>
        <ion-input text-right  [(ngModel)]="nuevoAlumno.nombre" type="text">
          {{ nuevoAlumno.nombre }}
        </ion-input>
      </ion-item>
  
      <ion-item>
        <!-- <ion-icon name="arrow-dropright"></ion-icon> -->
        <ion-label> Primer apellido: </ion-label>
        <ion-input text-right [(ngModel)]="nuevoAlumno.apellidoUno" type="text">
          {{ nuevoAlumno.apellidoUno }}
        </ion-input>
      </ion-item>
  
      <ion-item>
        <!-- <ion-icon name="arrow-dropright"></ion-icon> -->
        <ion-label> Segundo apellido: </ion-label>
        <ion-input text-right [(ngModel)]="nuevoAlumno.apellidoDos" type="text">
          {{ nuevoAlumno.apellidoDos }}
        </ion-input>
      </ion-item>
  
      <ion-item>
        <!-- <ion-icon name="book"></ion-icon> -->
        <ion-label> Clase: </ion-label>
        <ion-input text-right [(ngModel)]="nuevoAlumno.clase" type="text">
          {{ nuevoAlumno.clase }}
        </ion-input>
      </ion-item>
  
    </ion-list>
  
    <div padding>
      <ion-button expand="block" shape="round" type="submit" (click)="saveAlumn()"> Guardar alumno </ion-button>
    </div>
  
  </ion-content>