<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="calendar"></ion-back-button>
      </ion-buttons>
    <ion-title center>
      Detalles del evento
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Nombre del evento" [(ngModel)]="event.title"></ion-input>
    </ion-item>
 
    <ion-item>
      <ion-label> Inicio </ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
    </ion-item>
 
    <ion-item>
      <ion-label> Final </ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
    </ion-item>
 
    <ion-item>
      <ion-label> Marcar para todo el día </ion-label>
      <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
    </ion-item>
  </ion-list>
 
  <ion-button expand="block" (click)="save()">
      <ion-ripple-effect></ion-ripple-effect>
    <ion-icon name="checkmark"></ion-icon> Añadir evento 
  </ion-button>
</ion-content>
