<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tasks"></ion-back-button>
      </ion-buttons>
    <ion-title> Tareas pendientes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Contenido de tareas pendientes </h1>
  
  <app-listas></app-listas>

   <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="agregarLista()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
