.foo{
    margin-top: 65%;
    height: 50px !important;
}

.icon{
    height: 25%; width: 25%; 
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    border-radius: 100%;
    border: 3px solid rgb(0, 0, 0);
}

// Card de ayuda
.help{
    background-image: url('/assets/fondo.png'); 
    background-size: 100%; color: honeydew;
}

.titleHelp{
    color:honeydew;
}