<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sobre nosotros
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>

  <!-- Breve informacion sobre la aplicacion -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información</ion-card-title>
    </ion-card-header>
      
    <ion-card-content>
      <p>Conoce tu aula - aplicación creada para la gestión de tus tareas diarias</p>
      <p> </p>
      <h6>Conoce tu aula © 2019</h6>
    </ion-card-content>
  </ion-card>

  <!-- Acceso a la ayuda de la apliación -->
  <ion-card style = " background-image: url('/assets/fondo.png'); background-size: 100%; color: honeydew;">
    <ion-card-header>
      <ion-card-title style = "color:honeydew;"> Ayuda </ion-card-title>
    </ion-card-header>
      
    <ion-card-content>
      <p> Si necesitas ayuda, este es tu sitio </p>
      <p> </p>
  
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="help"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      
    </ion-card-content>
  </ion-card>

</ion-content>