<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Mis apuntes
        </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

  <div>
    <h2 text-center> </h2>
    <p>
      <li> Lugar para encontrar los PDF's de las clases. </li>
    </p>

    <!--Listado de apuntes-->
    <div>
      <ion-list>
        <ion-item lines="none">
          <ion-label> Lista de apuntes... </ion-label>
          <ion-button slot="end" size="small" shape="round" color="success"> 
            Abrir PDF 
            <ion-icon slot="start" name="document"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>

  </div>

</ion-content>
