#welcome{
    
    h1{
        font-size: 52px;
        margin-top:50px
    }
    .marginTop{
        margin-top:150px;
    }
    .logo{
        height: 100px;
    }
    
}

ion-item{
    --background: #3880ff;
    --color: #fff;
}

ion-button{
    --background: #062f77;
}
ion-card{
    border-radius: 5%;
}

.foo{
    margin-top: 50%;
    height: 50px !important;
}

.imgRedonda {
    z-index: +1;
    height: 25%; width: 25%;
    border-radius: 100%;
    border:3px solid #666;
    display: block; 
    margin-top: 20%; 
    margin-left: auto; 
    margin-right: auto; 
    // padding-bottom: 5%;
}
.background {
    max-width: auto;
    height: auto;
    width: auto;
    filter: blur(40px);
}

:host{
    ion-content {
        --background: url('../../../assets/background.jpg') no-repeat 100% 100%;
    }
}
