<!-- <ion-header>
  <ion-toolbar>
    <ion-title text-center>
      {{ titleApp }}
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="ionContent">

    <ion-card-content>

      <img src="assets/icon/favicon.png" class="imgRedonda" />
      <!-- <img src="assets/fondo.png" class="background" /> -->
      <!-- <ion-title style="text-align:center; z-index: +1; "> CONOCE TU AULA </ion-title> -->
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1 text-center><strong> ¡Bienvenid@! </strong> </h1>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col center text-center>
            <ion-button ion-button full color="primary" (click)="login()" shape="round"> Login </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col center text-center>
            <ion-button ion-button full color="success" (click)="signup()" shape="round"> Registrar </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col>
            <h6 text-center> Ésta es tu aula digital </h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </div>
  <!-- <ion-card style=" margin-top: 50%;">
  </ion-card> -->

  <!-- <ion-footer padding class="foo">
    <ion-toolbar text-right>
      <h6> © Conoce tu aula 2019 </h6>
    </ion-toolbar>
  </ion-footer> -->
</ion-content>