<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title>
      Acceso a la aplicación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="floating"> Usuario </ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating"> Contraseña </ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button (click)="login()" expand="block">Acceder</ion-button>
  <ion-button expand="block" color="secondary" routerLink="/register" routerDirection="forward">Registrarse</ion-button>

</ion-content>
