<!-- <ion-header>
  <ion-toolbar>
    <ion-title text-center>
      {{ titleApp }}
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding >
  <div>
    <img src="assets/icon/favicon.png" class="imgRedonda" />
    <!-- <ion-title style="text-align:center; z-index: +1; "> CONOCE TU AULA </ion-title> -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1 text-center><strong> ¡Bienvenid@! </strong></h1>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col center text-center>
          <ion-button expand="full" color="primary" (click)="login()" shape="round">
            Login
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col center text-center>
          <ion-button expand="full" color="success" (click)="signup()" shape="round">
            Registrar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
          <h6 text-center>Ésta es tu aula digital</h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
