ion-item{
    --background: #3880ff;
    --color: #fff;
}

ion-button{
    --background: #062f77;
}

:host{
    ion-content {
        --background: url('../../../assets/background.jpg') no-repeat 100% 100%;
    }
}