<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tasks"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="danger" href="/tasks"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
      <ion-button color="primary" (click)="save()"><ion-icon slot="icon-only" name="checkmark"></ion-icon></ion-button>
    </ion-buttons>  
    <ion-title>
      Añade la tarea
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="floating"> Selecciona una fecha </ion-label>
      <ion-datetime display-format="D MMM YYYY" max="2050-12-31" [(ngModel)]="item.date"></ion-datetime>      
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Introduce la tarea </ion-label>
      <ion-input [(ngModel)]="item.task"></ion-input>
    </ion-item>
  </ion-list>
  <ion-segment [(ngModel)]="item.icon">
    <ion-segment-button *ngFor="let button of buttons" [value]="button">
      <ion-icon [name]="button"></ion-icon>
    </ion-segment-button>
  </ion-segment>

</ion-content>
