<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Conoce tu aula
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="top" horizontal="end" edge slot="fixed">
    <ion-fab-button (click)="accessLogin()">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card class="welcome-card">
    <ion-img src="/assets/fondo.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Bienvenido a </ion-card-title>
      <ion-card-title> {{ titulo }} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <strong>
          ¿Quieres estar al día con las tareas de tu hij@ en el colegio?
        </strong>
      </p>
      <p>
        Esta es tu aplicación donde poder ver diariamente las tareas (si las
        tuviera) de tu hijo. Observa el calendario, o el listado de tareas.
      </p>
      <p> <strong> ¿Necesitas una reunión con el/la profesor/a? </strong> </p>
      <p>
        Solo tienes que ir al perfil del profesor y solicitarla, así de fácil.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label> ¿Qué podemos encontrar aquí? </ion-label>
    </ion-list-header>
    <ion-item (click)="accessCalendar()">
      <ion-icon slot="start" color="medium" name="calendar"></ion-icon>
      <ion-label> Mi calendario </ion-label>
    </ion-item>
    <ion-item (click)="accessTasks()">
      <ion-icon slot="start" color="medium" name="briefcase"></ion-icon>
      <ion-label> Mis tareas diarias </ion-label>
    </ion-item>
    <ion-item (click)="accessAbout()">
      <ion-icon
        slot="start"
        color="medium"
        name="information-circle-outline"
      ></ion-icon>
      <ion-label> Información sobre la aplicación </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
