<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Contenido del mensaje
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>

  <ion-list>
    <ion-item>
      <div class="chat-status" text-center>
        <span class="chat-date"> Fecha </span>
        <span class="chat-content-center"> Mensaje de texto... </span>
      </div>
      <ng-template #message>
        <div class="chat-message" text-right> 
          <div class="right-bubble"> 
            <span class="msg-name"> Yo </span>
            <span class="msg-date"> Fecha del mensaje...  </span>
            <p text-wrap> contenido del mensaje... </p>
          </div>
        </div>
      </ng-template>
      
    </ion-item>
  </ion-list>

</ion-content>

<!--Recuadro para enviar el mensaje de texto -->
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Escribe tu mensaje">

        </ion-input>
      </ion-col>
      <ion-col col-2 (click)="enviarMensaje()">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
